.main-wrap {
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto;
}

.content-wrap {
  overflow: hidden;
  background-color: #fff;
}

.content-wrap a {
  word-break: break-all;
}

.headline {
  border-bottom: 1px solid #0099ff;
}

.headline-background .heading {
    color: #999999;
    font-size: 12px!important;
    margin-bottom: 8px;
    line-height: 1em;
}
.headline-background .heading-content {
    color: #444;
    font-size: 17px!important;
    line-height: 1.2em;
}

.news {
    overflow: hidden;
    padding: 0 0px!important;
}
.news + .news {
    border-top: 5px solid #f6f6f6;
}
.news-title {
    line-height: 2em;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    margin: 5px 0;
}

.headline img {
  max-width: 100%;
  vertical-align: top;
}

.content {
    color: #444;
    line-height: 1.6em;
    font-size: 17px;
    margin: 10px 0 20px;
}
