<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ddmax.zjnucloud">

    <uses-sdk tools:overrideLibrary="jp.wasabeef.recyclerview" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" /> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <application
        android:name=".ZJNUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 百度LBS API -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="gupjuKzCfblrzL1ztCPjKwF1" />

        <!-- 友盟API key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56233b8967e58ea63f00498a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <!-- ActiveAndroid -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="emis.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.ddmax.zjnucloud.model.EmisUser, com.ddmax.zjnucloud.model.score.ScoreList,
                           com.ddmax.zjnucloud.model.score.Semester, com.ddmax.zjnucloud.model.score.Score,
                           com.ddmax.zjnucloud.model.exam.Exam, com.ddmax.zjnucloud.model.exam.ExamList,
                           com.ddmax.zjnucloud.model.course.Course, com.ddmax.zjnucloud.model.course.CourseList" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.ddmax.zjnucloud.common.aa.ListSerializer" />

        <!-- 引导界面 -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 启动界面 -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NewsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_news" />
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".ui.activity.BusActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_bus" />
        <activity
            android:name=".ui.activity.ScoreActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_score"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ExamActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_score"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.CourseActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_course"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.BindActivity" />
        <activity
            android:name=".ui.activity.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SpeechActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SpeechDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".base.BaseWebActivity"
            android:screenOrientation="portrait" />

        <!-- Mob ShareSDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- <uses-library android:name="android-test-runner" /> -->
    </application>

</manifest>
