<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ddmax.zjnucloud">

    <uses-sdk tools:overrideLibrary="jp.wasabeef.recyclerview" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" /> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> -->

    <!-- BmobPush SDK权限 -->
    <permission android:protectionLevel="normal" android:name="cn.bmob.permission.push">
    </permission>
    <uses-permission android:name="cn.bmob.permission.push"/><!-- 添加自定义的权限-->

    <application
        android:name=".ZJNUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 百度LBS API -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="gupjuKzCfblrzL1ztCPjKwF1" />

        <!-- Bmob更新Channel -->
        <meta-data
            android:name="BMOB_CHANNEL"
            android:value="push" />

        <!-- 友盟API key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56233b8967e58ea63f00498a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <!-- ActiveAndroid -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="emis.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.ddmax.zjnucloud.model.EmisUser, com.ddmax.zjnucloud.model.score.ScoreList,                            com.ddmax.zjnucloud.model.score.Semester, com.ddmax.zjnucloud.model.score.Score,                            com.ddmax.zjnucloud.model.exam.Exam, com.ddmax.zjnucloud.model.exam.ExamList,                            com.ddmax.zjnucloud.model.course.Course, com.ddmax.zjnucloud.model.course.CourseList" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.ddmax.zjnucloud.database.aa.ListSerializer" />

        <!-- 引导界面 -->
        <activity
            android:name=".ui.activity.GuideActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 启动界面 -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.BusActivity"
            android:label="@string/title_activity_bus"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ScoreActivity"
            android:label="@string/title_activity_score"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.ExamActivity"
            android:label="@string/title_activity_exam"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.CourseActivity"
            android:label="@string/title_activity_course"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activity.BindActivity" />
        <activity
            android:name=".ui.activity.CalendarActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SpeechActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.SpeechDetailActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".base.BaseWebActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.activity.ExploreActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.ActionBar" />
        <!--&lt;!&ndash; Mob ShareSDK &ndash;&gt;-->
        <!--<activity-->
            <!--android:name="com.mob.tools.MobUIShell"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
            <!--android:windowSoftInputMode="stateHidden|adjustResize">-->
            <!--<intent-filter>-->
                <!--<data android:scheme="tencent100371282" />-->

                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash; 微信分享回调 &ndash;&gt;-->
        <!--<activity-->
            <!--android:name=".wxapi.WXEntryActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:exported="true"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!-- Bmob更新Activity -->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@style/AppTheme.Translucent" />

        <!-- Bmob消息推送服务 -->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <!-- Bmob消息推送接收器 -->
        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter android:priority="2147483647"> <!-- 优先级加最高 -->
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- <uses-library android:name="android-test-runner" /> -->

    </application>

</manifest>
